html, body {
    margin: 0;
    padding: 0;
}
/*scrolbar*/
html::-webkit-scrollbar{
    width: 0.5rem;
}
html::-webkit-scrollbar-track{
    background: rgba(199, 197, 197, 0.72);
}
html::-webkit-scrollbar-thumb{
    background: #8ba8a8;
    border-radius: 0.5rem;
}



.font-size-10 {
    font-size: 13px;
    font-weight: 700;
}

.h-660 {
    height: 660px;
}

.h-400 {
    height: 400px;
}

.h-150 {
    height: 150px;
}

p {
    margin-bottom: 0;
}

header {
    position: relative;
    width: 100%;
    color: white;
}

.main-menu {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
    padding: 30px 20px 0;
    box-sizing: border-box;
    align-items: center;}

.menu {
    display: flex;
    gap: 30px;
    padding-left: 180px;

}

.menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.search p {
    margin: 0;
}

.banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.banner-text {
    width: 1024px;
    margin: 0 auto;

    position: absolute;
    color: #ffffff;
    top: 200px;
    left: 100px;
    right: 195px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;


}

.banner-text a {
    background-color: #E2911C;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.banner-text h2 {
    margin: 0 0 30px;
    display: block;
}

.container {
    width: 1024px;
    margin: 30px auto;
}

.block-1 {
    display: flex;
    column-gap: 90px;
    justify-content: space-between;
    box-sizing: border-box;
}

.block-1 .block-images {
    background-color: #EBFAFD;
    flex: 2;
    position: relative;

}

.block-1 .block-images img {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 50px;
}

.block-1 .block-text {
    flex: 1;
}

.block-text-header h4 {
    margin: 0;
}

.block-1 .block-text-header {
    text-transform: uppercase;

}

.block-text .block-button button {
    background-color: #E2911C;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
}


.banner-text p {
    margin-bottom: 10px;
    font-size: 16px;
}

.what-we-offer-content {
    display: flex;
    column-gap: 25px;
    justify-content: space-between;
}

.what-we-offer-title {
    margin-top: 60px;
}

.what-we-offer-title span {
    font-weight: bold;
    font-size: 10px;

}

.what-we-offer-title span:after {
    content: "";
    width: 100px;
    height: 1px;
    border-bottom: 1px solid #92692c;
    display: block;
    margin: 3px 0;
}

.what-we-offer-title h4 {
    margin-top: 0;
    display: block;
}

.offer-box {
    text-align: center;
    box-shadow: 0 4px 9px 2px #9c9c9c;

}

.offer-box p {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.offer-box a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.content-what-we-offer p {
    background-color: #EBFAFD;
}

.products-slider-bg {
    width: 100%;
    height: 230px;
    background-color: #EBFAFD;
}

.products-slider-images {
    display: flex;
    justify-content: space-between;
    gap: 62px;
    position: absolute;
    top: 67px;
}

.products-slider-content {
    position: relative;
}

.title-full-width {
    text-align: center;
    font-weight: bold;
    margin-bottom: 51px;
}


.title-full-width span {
    display: inline-block;
    margin-bottom: 5px;
}

.title-full-width h4 {
    margin-top: 0;
    display: block;
    font-size: 20px;
}

.partners-slider-images {
    display: flex;
    justify-content: space-around;


    align-items: center;
}

.partner-img {
    display: block;
    width: 180px;
}

.partner-img img {
    width: 100%;
}

.partners {
    margin-top: 170px;
}


.banner-img {
    display: block;
    width: 100%;
    height: 500px;
}


.news-gallery-items {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;

}

.news-gallery-items img {
    width: 100%;
}

.gallery-item {
    padding: 15px;
    background: #E4E2E2;
    border-radius: 4px;
    box-sizing: border-box;
}

.item1 {
    grid-row: 1/4;
    grid-column: 1/3;

}

.item2 {
    grid-column: 3/7;
    grid-row: 1/3;


}

.item3 {
    grid-column: 7/10;
    grid-row: 1/3;
}

.item4 {
    grid-column: 3/8;
}

.item5 {
    grid-column: 8/10;
}

.item2 .gallery-item-action {
    justify-content: flex-end;
}

.item3 .gallery-item-action {
    justify-content: flex-end;
}

.content {
    margin-bottom: 150px;
}

.gallery-item-action {
    display: flex;
    gap: 10px;
}

.gallery-item-action p {
    font-size: 10px;
}


.gallery-item-img img {
    width: 100%;
    height: 100%;
}

.gallery-item-img {
    width: 100%;
}

.gallery-item a {
    text-decoration: none;
    margin-top: 10px;
    display: block;
    color: #000;
    width: 100%;
}

.gallery-item a:after {
    content: "";
    width: 120px;
    height: 1px;
    border-bottom: 1px solid deepskyblue;
    display: block;
    margin-top: 7px;
}

.block-button {
    margin-top: 30px;
}

.news-gallery-title h4 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 40px;
}

.news-gallery-title p {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

.news-gallery-title p:after {
    content: "";
    width: 100px;
    height: 1px;
    border-bottom: 1px solid #92692c;
    display: block;
}

.what-we-offer-title span:after {
    content: "";
    width: 100px;
    height: 1px;
    border-bottom: 1px solid #92692c;
    display: block;
    margin: 3px 0;
}

.footer-top {
    background-color: #aba5a5;
    padding-bottom: 30px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 30px 0;
}

.social-links a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #666666;
    background-color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
}


.footer-contacts {
    display: flex;
    gap: 30px;
    justify-content: center;
}


.footer-menu {
    text-align: center;
}

.footer-menu nav {
    display: flex;

    justify-content: center;
}

.footer-menu a {
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    display: block;

}

footer hr {
    margin-bottom: 15px;
}

.footer-contacts {
    color: white;
    display: flex;
    gap: 90px
}

.footer-contact-phone span {
    padding: 0 15px;
}

.footer-contact-mail span {
    padding: 0 15px;
}

.copyright {
    display: flex;
    background-color: #EBFAFD;
    justify-content: space-between;
    padding: 13px 10px;
}

.term-condition a {
    padding: 0 6px;
    text-decoration: none;
    color: #000;
}

.products-slider-images img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px 2px #a8a8a8;
}

.products-slider-images img {
    transition: 1s all;
}


/*BRANDS-CSS*/
.main-menu-brands {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 40px;
}


.menu-brands {
    display: flex;
    gap: 60px;
    padding-left: 180px;
    /*justify-content: space-around;*/

}

.menu-brands a {
    color: #212020;
    text-decoration: none;
    text-transform: uppercase;
}

.header-logo {
    width: 90px;
    height: 50px;
    margin-left: 80px;
}

.search-1 p {
    margin: 0;
    color: #212020;
    padding-right: 30px;
}

.banner-text-brands {
    font-size: 18px;
    text-align: center;
    color: #212020;
    padding-top: 80px;
    text-transform: uppercase;
}

.banner-text-brands h2:after {
    content: "";
    width: 160px;
    height: 1px;
    border-bottom: 2px solid #e2911c;
    display: block;
    margin-top: 6px;
    position: absolute;
    left: -28px;
}

.container-brands-bg {
    background-color: #EBFAFD;
    padding-top: 30px;
    margin-top: 60px;

}

.container-brands {
    width: 1024px;
    margin: 50px auto;

}

.brand-boxes-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 40px;

}

.brand-box-text p {
    text-align: justify;
    margin-bottom: 40px;

}

.brand-box-images img {
    max-width: 100%;
    height: 90px;
}

.brand-box-button a {
    background-color: #E2911C;
    padding: 12px 18px;
    border: none;
    border-radius: 7px;
    /* text-transform: uppercase; */
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 100px;
}

.brand-box-button {
    margin-bottom: 100px;
}

.container-brands-2 {
    width: 1024px;
    margin: 0 auto;

}

.banner-text-brands h2 {
    display: inline-block;
    position: relative;
}

/*news-list-css*/

.banner-text-news {
    font-size: 18px;
    color: #212020;
    padding-top: 80px;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.banner-text-news h2 {
    display: inline-block;
    position: relative;
}

.banner-text-news h2:after {
    content: "";
    width: 160px;
    height: 1px;
    border-bottom: 2px solid #e2911c;
    display: block;
    margin-top: 6px;
    position: absolute;
}

.banner-text-news {
    color: #212020;
}

.news-banner-text-h2 {
    text-align: right;
    font-size: 20px;
}

.list-text {
    border-left: 3px solid #FF9900;

    padding-left: 5px;
}

.list-text p {
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    line-height: 20px;
}


.list-text h3 {
    font-size: 25px;
    margin-bottom: 0px;
}

.news-gallery-list-text {
    margin-top: 70px;
}

/*single-news-css*/

.single-news-banner-images {
    display: block;
    width: 100%;
}

.single-news-banner-images img {
    width: 100%;
}

.single-news-banner-info {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-top: 50px;
}

.single-news-info-block {
    position: relative;
    background-color: #C4C4C4;
    flex: 1;
    height: 200px;
}

.single-news-info-block-1 {
    position: absolute;
    background-color: #3399CC;
    top: 100px;
    left: 50px;
    width: calc(100% - 100px);
    /*right: 50px;*/

}

.single-news-info-text {
    flex: 1.5;
}

.single-news-info-block-1 img {
    display: block;
    width: 100%;
}

.single-news-info-text a {
    color: #FF9900;
    text-decoration: none;
    margin-top: 20px;
    display: block;

}

.single-news-info-text a i {
    color: #000000;
    padding-right: 10px
}


/*contact-us-css*/
.contact-us-info {
    display: flex;
    justify-content: center;
    gap: 52px;
    position: absolute;
    top: 303px;
    left: 100px;;
    right: 100px;
    padding-bottom: 180px;
}

.boxes-iframe {
    position: relative;
}
.boxes-iframe iframe{
    filter: blur(2px);
}

.about-us {
    background-color: #dedbdb;
    text-align: center;
    width: 220px;
    height: 225px;
    border-radius: 10px;
    padding: 0px 11px;
    box-sizing: border-box;
}

.about-us h4 {
    font-size: 18px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.about-us i {
    font-size: 50px;

}

banner-text-contact-us {
    font-size: 18px;
    color: #212020;
    padding-top: 80px;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.banner-text-contact-us h2 {
    margin-top: 80px;
    margin-bottom: 60px;
    margin-left: 80px;display: inline-block;
    position: relative;
}

.banner-text-contact-us h2:after {
    content: "";
    width: 150px;
    height: 1px;
    border-bottom: 1px solid #e2911c;
    display: block;
    margin-top: 3px;
    margin-left: 60px;
    position: absolute;
}

.banner-text-contact-us {
    color: #212020;
}

.about-us span {
    margin-top: 10px;
    display: block;
    font-size: 12px;
    box-sizing: border-box;
}

html::-webkit-scrollbar{
    width: 0.5rem;
}
html::-webkit-scrollbar-track{
    background: rgba(199, 197, 197, 0.72);
}
html::-webkit-scrollbar-thumb{
    background: #8ba8a8;
    border-radius: 0.5rem;
}

.main-menu .logo img {width: 83px;margin-left: 20px;}